
@{
    ViewBag.Title = "Portafolio";
}
<br />
<br />
<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <a href="@Url.Action("Vivienda","Home")" class="link">VIVIENDA</a>
    </div>
</div>
<br />
<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <a href="@Url.Action("OficinaComercial","Home")" class="link">OFICINA / COMERCIAL / INSTITUCIONAL</a>
    </div>
</div><br />
<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <a href="#" class="link">REMODELACIONES INTERIORES</a>
    </div>
</div><br />
<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <a href="@Url.Action("MobiliarioCocina","Home")" class="link">MOBILIARIO COCINAS</a>
    </div>
</div><br />
<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <a href="@Url.Action("Mobiliario","Home")" class="link">MOBILIARIO</a>
    </div>
</div><br />
<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <a href="@Url.Action("Accesorios","Home")" class="link">ACCESORIOS</a>
    </div>
</div><br />
<br />
<br />
<br />
<br />
<br />
<br />




<div class="row">
    <div class="col-md-1 col-md-offset-1">
        <a href="@Url.Action("Menu","Home")">
            <i class="glyphicon glyphicon-arrow-left" style="color:black"></i>
        </a>
    </div>
</div>



